a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.post{
    display: flex;
    flex-direction: column;
    max-height: 934.5px;
    max-width: 614px;
    margin: 10px auto;
    border: var(--border-light);
    border-radius: 3px;
    background-color: white;
}

.post-owner {
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 1.4rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.post-caption {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin: 5px 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.caption {

    margin-left: 5px;
}

.post-likes {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1.4rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.s-media-btn {
    display: flex;
    margin-left: 15px;
    font-size: 2.35rem;
    align-items: center;
    margin-top: 5px;

}

.s-button {
    margin-right: 16px;
}

.s-button:hover {
    color: gray;
}

.like-btn:active {
    color: red;
}

.liked {
    color: red;
}
