.comment-form {
    display: grid;
    grid-template-columns: .9fr .1fr;
    border-top: var(--border-light);
    margin-top: 10px;

}

.comment-form input {
    padding: 15px;
    border: none;
}

.single-comment {
    margin: 0px 15px;
    font-size: 1.4rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.all-comments {
    color: gray;
    font-weight: normal;

}

.user-comments {
    display: flex;
}
