/* .single-comment {
  margin: 0px 15px;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.all-comments {
  color: gray;
  font-weight: normal;
}

.user-comments {
  display: flex;
} */

.singular-comment-container {
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 15px;
}

.comment-username {
  margin-right: 1rem;
}
.singular-comment-info {
  margin-top: 0.5rem;
}

.profile-pic-comment {
  border-radius: 50%;
  height: 3.5rem;
  width: 2.5em;
  margin: 0 2.7rem;
  object-fit: cover;
  margin-top: 0.5rem;
}

/* .actual-comment {
  inline-size: 30rem;
  overflow-wrap: break-word;
} */
