   #modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    width: 450px;
    height: 300px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #profile-modal-content {

    position: absolute;
    background-color:white;
    width: 73%;
    height: 41vw;
    border-radius: 6px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-between;
    z-index: 3;
  }

  #profile-menu-modal {
    position: absolute;
    background-color:white;
    width: 28rem;
    height: 10rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: var(--border-light);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  #like-modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color:white;
    height: 50rem;
    width: 40rem;
    padding-top: 20px;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: var(--border-light);
    overflow: auto;
  }

  #modal-menu-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
  }
