.logo {
  height: 4rem;
  width: auto;
}

i {
  font-size: 3rem;
  margin: 0 1rem;
}

nav {
  padding: 0 16px;
  height: 54px;
  background-color: white;
  border: var(--border-light);
}

nav,
.right-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic-nav {
  border-radius: 50%;
  height: 3rem;
  width: 3em;
  /* margin: 2rem 5rem; */
  object-fit: cover;
  margin-top: 0.5rem;
}
