.logo {
  /* height: 4.5rem; */
  height: 3.8rem;

  width: auto;
  /* font-size: 4rem; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

i {
  /* font-size: 3rem; */
  font-size: 2.4rem;
  margin: 0 1rem;
  /* padding: 5px; */
  padding-right: 6px;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border: var(--border-light);
}

.nav-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;

  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 975px;
  padding: 0 20px;
  height: 60px;
  width: 100%;
}

.right-bar {
  display: flex;
  align-items: center;
}

.left-bar {
  display: flex;
  align-items: center;
}

.profile-pic-nav {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  /* margin: 2rem 5rem; */
  object-fit: cover;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-image: url("../../images/color_border.png");
  background-size: cover;
}

.profile-pic-dropdown {
  position: absolute;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  /* border: var(--border-light); */
  border-radius: 20%;
  background-color: white;
  /* margin: 10px 10px 0px -1px; */
  padding: 12px;
  /* transform: translate(-100px -10px); */
  transition: all 0.2s;
  box-shadow: 2px 2px 5px lightgray;
}

button {
  background-color: white;
  cursor: pointer;
  border: none;
}

.fa-user,
.fa-arrow-right-from-bracket {
  font-size: 15px;
}

.profile {
  border-bottom: var(--border-light);
  padding-bottom: 10px;
}

.logout {
  padding-top: 10px;
}
