.logo {
  height: 4.5rem;
  width: auto;
  /* font-size: 4rem; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

i {
  font-size: 3rem;
  margin: 0 1rem;
}

nav {
  margin: 0;
  padding: 0 20px;
  height: 65px;
  width: 300rem;
  background-color: white;
  border: var(--border-light);
}

nav,
.right-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic-nav {
  border-radius: 50%;
  height: 3rem;
  width: 3em;
  /* margin: 2rem 5rem; */
  object-fit: cover;
  margin-top: 0.5rem;
}
